body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  background-color: rgb(249, 249, 249);
}

#mensagem {
  margin-top: 15px;
  font-weight: bold;
  color: deeppink;
}

h1 {
  color: rgb(95, 11, 67);
  font-size: 50px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 25px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: justify;
  color: #333;
  background-color: rgb(255, 223, 227);
}

table {
  border-collapse: collapse;
  background-color: rgb(255, 236, 236);
  width: 300px; /* ajuste conforme desejar */
  border: 1.5px solid black;
}

a {
  color: deeppink;
  text-decoration: none;
}

a:hover {
  color: rgb(102, 0, 150);
  text-decoration: underline;
}

img {
  border-radius: 80%;
}
